<h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>

  <%# resource.build_userprofile %>
  <%#= f.simple_fields_for :userprofile do |p| %>
    <%#= p.input :firstname %>
    <%#= p.input :lastname %>
    <%#= p.input :gender, collection: ["F", "M"] %>
    <%#= p.input :address %>
    <%#= p.input :city %>
    <%#= p.input :zipcode %>
    <%#= p.input :phone %>
  <%# end %>

  <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
<% end %>
<%= render "devise/shared/links" %>
