<h1>Listing userprofiles</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Gender</th>
    <th>Address</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Phone</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userprofiles.each do |userprofile| %>
  <tr>
    <td><%= userprofile.firstname %></td>
    <td><%= userprofile.lastname %></td>
    <td><%= userprofile.gender %></td>
    <td><%= userprofile.address %></td>
    <td><%= userprofile.city %></td>
    <td><%= userprofile.zipcode %></td>
    <td><%= userprofile.phone %></td>
    <td><%= userprofile.user_id %></td>
    <td><%= link_to 'Show', userprofile %></td>
    <td><%= link_to 'Edit', edit_userprofile_path(userprofile) %></td>
    <td><%= link_to 'Destroy', userprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userprofile', new_userprofile_path %>
