<p id="notice"><%= notice %></p>

<p>
  <b>Allergy:</b>
  <%= @client.allergies %>
</p>

<p>
  <b>User:</b>
  <%= @client.user.email %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
