<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @meal.recipe_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @meal.amount %>
</p>

<p>
  <b>Mealofday:</b>
  <%= @meal.mealofday %>
</p>


<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
