<h1>Listing mealplans</h1>

<table>
  <tr>
    <th>Meal</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mealplans.each do |mealplan| %>
  <tr>
    <td><%= mealplan.meal_id %></td>
    <td><%= mealplan.client_id %></td>
    <td><%= link_to 'Show', mealplan %></td>
    <td><%= link_to 'Edit', edit_mealplan_path(mealplan) %></td>
    <td><%= link_to 'Destroy', mealplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mealplan', new_mealplan_path %>
