<%= simple_form_for(@mealrecipe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :meal_id %>
    <%= f.input :recipe_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
