<p id="notice"><%= notice %></p>

<p>
  <b>Meal:</b>
  <%= @mealrecipe.meal_id %>
</p>

<p>
  <b>Recipe:</b>
  <%= @mealrecipe.recipe_id %>
</p>


<%= link_to 'Edit', edit_mealrecipe_path(@mealrecipe) %> |
<%= link_to 'Back', mealrecipes_path %>
